<a class="btn btn-primary m-1" routerLink="/dashboard">📊 Dashboard</a>

<h1>🚗 Loja Automotiva</h1>

<div class="btn-group m-3">
  <button class="btn btn-primary" routerLink="/cadastro-peca">➕ Cadastrar Peça</button>
  <button class="btn btn-info" routerLink="/estoque">📦 Estoque</button>
  <button class="btn btn-success" routerLink="/venda">💸 Vender</button>
  <button class="btn btn-warning" routerLink="/vendas-realizadas">🧾 Vendas Realizadas</button>
</div>

<!-- QR Code fora dos botões -->
<div class="m-3">
  <h5>🔗 Cupom Fiscal:</h5>
</div>

<router-outlet></router-outlet>
